body {
  color: #bbb;
  background: #111;
  font-family: 'Inter', sans-serif;
}

#logo {
  display: block;
  margin: 2rem auto;
  width: 6rem;
}

h1 {
  text-align: center;
  font-weight: 800;
}

#app {
  max-width: 40rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}

#buttons {
  border: solid #666;
  border-width: 1px 0;
  text-align: center;
}

button {
  border: 1px solid #666;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background: #222;
  color: #fff;
  font-family: inherit;
  font-weight: 800;
  font-size: 0.8rem;
  width: 10rem;
  margin: 1rem;
}
button:hover {
  border-color: #d81b60;
}

summary {
  color: #fff;
}

@media (min-width: 40rem) {
  #app {
    grid-template-columns: 1fr 1fr;
  }
  #buttons {
    grid-column: span 2;
  }
}
